  <div class="page-header">
    <h1><span class="glyphicon glyphicon-book"></span>　テーブルメタ<br /><small>テーブルメタ管理では、テーブルからメタデータを作成したり、その管理を行います。</small></h1>
  </div>

  <div>
    <div class="well well-sm">
      <h3><span class="glyphicon glyphicon-folder-open"></span>　テーブルメタ管理</h3>
    </div>
    <div>
      <blockquote>
        <p><a href="<?php $v->out('App.Admin.url_tablemeta_base'); ?>list/">テーブルリストの編集</a></p>
        <small>テーブル管理に表示するメタデータのリストを編集します。</small>
      </blockquote>
    </div>
    <div>
      <blockquote>
        <p><a href="<?php $v->out('App.Admin.url_tablemeta_base'); ?>create/">メタデータの作成</a></p>
        <small>テーブル管理でテーブル内のデータを閲覧したり登録したりするために必要な構成情報を作成します。</small>
      </blockquote>
    </div>
    <div>
      <blockquote>
        <p><a href="<?php $v->out('App.Admin.url_tablemeta_base'); ?>edit/">メタデータの編集</a></p>
        <small>テーブルメタデータの情報を直接編集します。</small>
      </blockquote>
    </div>
    <div>
      <blockquote>
        <p><a href="<?php $v->out('App.Admin.url_tablemeta_base'); ?>remove/">メタデータの削除</a></p>
        <small>作成したメタデータファイルを物理的に削除します。</small>
      </blockquote>
    </div>
    <div>
      <blockquote>
        <p><a href="<?php $v->out('App.Admin.url_tablemeta_base'); ?>backup/">メタデータのバックアップ</a></p>
        <small>サーバー上に作成したメタデータをバックアップし、ローカル環境にダウンロードします。</small>
      </blockquote>
    </div>
    <div>
      <blockquote>
        <p><a href="<?php $v->out('App.Admin.url_tablemeta_base'); ?>restore/">メタデータのリストア</a></p>
        <small>ローカル環境上にバックアップしたメタデータをサーバー上に復元します。</small>
      </blockquote>
    </div>
  </div>