<?php $form = $v->get('form'); ?>
<script type="text/javascript" src="/content/js/webtoolkit.sha256.js"></script>
<script type="text/javascript">
<!--
$(function() {
  $('#page1 form').submit(function(){
    var user_name = $('form input[name=user_name]').val();
    var login_id = $('form input[name=login_id]').val();
    var passwd = $('form input[name=passwd]').val();
    var passwd_re = $('form input[name=passwd_re]').val();
    var email = $('form input[name=email]').val();

    if (user_name == '') {
      showAlertMessage('ユーザー名が入力されていません');
      return false;
    }

    if (login_id == '') {
      showAlertMessage('ログインIDが入力されていません');
      return false;
    }

    if (passwd == '') {
      showAlertMessage('パスワードが入力されていません');
      return false;
    }

    if (passwd != passwd_re) {
      showAlertMessage('パスワードとパスワード（再入力）が一致しません');
      return false;
    }

    $("#alert-message-space").hide().empty();
    $("#page1").hide();
    $("#processing").show();

    $.ajax({
      type: "POST",
      url: window.location.href,
      data: {
        "user_name": user_name,
        "login_id": login_id,
        "passwd": SHA256(passwd),
        "email": email
      },
      dataType: "json",
      complete: function() {
        $('#processing').hide();
      },
      error: function(xmlHttp, status, error) {
        if (xmlHttp.responseText) {
          var response = eval('(' + xmlHttp.responseText + ')');
          if (response.message) {
            showAlertMessage(response.message);
            return;
          }
        }
        showAlertMessage('システムエラーが発生しました。管理者にお問い合わせください。');
      },
      success: function(result)
      {
        if (result['valid']) {
          $("#page2").show();
        } else {
          showAlertMessage(result['messages']);
          $("#page1").show();
       }
      }
    });

    return false;
  });

  function showAlertMessage(messages)
  {
    if (!(messages instanceof Array)) {
      messages = [messages];
    }

    for (var i in messages) {
      $('#alert-message-space').append('<div><span class="glyphicon glyphicon-warning-sign"></span> <span class="alert-message"></span></div>');
      $('#alert-message-space div:last .alert-message').text(messages[i]);
    }
    $('#alert-message-space').show();
  }
});

//-->
</script>

<div class="page-header">
  <h1><span class="glyphicon glyphicon-book"></span>　BlueDrive 初期ユーザー作成<br /><small>最初に管理者ユーザーを作成します</small></h1>
</div>

<div id="alert-message-space" class="alert alert-danger" style="display:none;">
</div>

<div id="processing" class="well" style="display:none;">
  <span class="glyphicon glyphicon-time"></span> 処理しています…
</div>

<div id="page1">
  <p>BlueDriveの初めてのご利用です。最初に管理者ユーザーを作成してください。</p>

  <form method="post" role="form">
<?php foreach ($form->getElementNames() as $name) { ?>
    <div class="form-group">
<?php
  echo '<label>' . $form->getDisplayName($name);
  if ($form->isRequire($name)) {
      echo '&nbsp;<span class="label label-danger">必須</span>';
  }
  echo '</label>';
  echo $form->getHtml($name);
?>
    </div>
<?php } ?>
    <button type="submit" class="btn btn-primary">　登録　</button>
  </form>
</div>

<div id="page2" style="display:none;">
  <div class="alert alert-success">
    <span class="glyphicon glyphicon-ok-circle"></span> 管理者の登録が完了しました。
  </div>
  <div style="margin-top: 20px;">
    <a href="login.html"><strong>ログイン画面へ</strong></a>
  </div>
</div>