<?php
$url_file_base = $v->get('App.Admin.url_file_base');
?>
<?php include_once 'header.html'; ?>

<?php include_once 'navbar.html'; ?>

  <div id="container">
    <div class="row">
      <div class="col-xs-2">
        <p><small><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;ファイル</small></p>
        <ul class="list-group">
          <a href="<?php echo $url_file_base; ?>" class="list-group-item active">ファイル管理</a>
        </ul>
      </div>

      <div class="col-xs-10">
        <ol class="breadcrumb">
<?php
foreach ($v->get('App.Admin.breadcrumbs') as $name => $url) {
    if ($url) {
        echo '<li><a href="' . $url . '">' . htmlspecialchars($name) . '</a>&nbsp;</li>';
    } else {
        echo '<li class="active">' . htmlspecialchars($name) . '&nbsp;</li>';
    }
}
?>
        </ol>
        <div id="contents">
          <?php include_once $v->getContentFile(); ?>
        </div> 
      </div>
   </div> 
  </div> 

<?php include_once 'footer.html'; ?>
