<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="<?php $v->out('App.url_root'); ?>/content/bootstrap.3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="<?php $v->out('App.url_root'); ?>/content/colorbox/colorbox.css" rel="stylesheet" />
<link href="<?php $v->out('App.url_root'); ?>/content/css/base.css" rel="stylesheet" />
<title>BlueDrive</title>
<script type="text/javascript" src="<?php $v->out('App.url_root'); ?>/content/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="<?php $v->out('App.url_root'); ?>/content/js/jquery.BlueDriveUtil.js"></script>
<script type="text/javascript" src="<?php $v->out('App.url_root'); ?>/content/js/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript" src="<?php $v->out('App.url_root'); ?>/content/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="<?php $v->out('App.url_root'); ?>/content/bootstrap.3.0.3/js/bootstrap.min.js"></script>
</head>

<body>
